# Workflow name
name: Lint & Test

# Trigger setting
on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  APP_NAME: terra
  BUILD_PROFILE: release

jobs:
  lint:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: debug
          install_front_deps: false

      - name: Check format
        run: rustup component add rustfmt;cargo fmt --all -- --check
      - name: Lint Check
        run: rustup component add clippy;cargo clippy --workspace -- -D warnings

  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    name: build terra
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: release
          install_front_deps: true
      - run: make ui

      - name: Move exe -> ./build
        uses: ./.github/actions/setup-release
        with:
          app_name: ${{ env.APP_NAME }}
          build_profile: ${{ env.BUILD_PROFILE }}

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: ${{ env.APP_NAME }}-${{ runner.os }}
          # to include .keep file
          include-hidden-files: true
          path: |
            ./build/

  # test:
  #     runs-on: ubuntu-latest
  #     name: test
  #     steps:
  #         - uses: actions/checkout@v4
  #         - run: cargo test
