# Workflow name
name: Lint & Test

# Trigger setting
on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  lint:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: debug
          install_front_deps: false

      - name: Check format
        run: rustup component add rustfmt;cargo fmt --all -- --check
      - name: Lint Check
        run: rustup component add clippy;cargo clippy --workspace -- -D warnings

  build:
    strategy:
      matrix:
        platform: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    name: build terra
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/setup-deps
        with:
          platform: ${{ matrix.platform }}
          build_profile: release
          install_front_deps: true
      - run: make ui
      - name: Upload a Build Artifact for linux
        if: ${{ matrix.platform == 'ubuntu-latest' }}
        uses: actions/upload-artifact@v4.4.0
        with:
          name: rust_fluid_3d-results-${{runner.os}}
          path: |
            ${{ github.workspace }}/results/*.csv
            ${{ github.workspace }}/targets/release/terra

      - name: Upload a Build Artifact for windows
        if: ${{ matrix.platform == 'windows-latest' }}
        uses: actions/upload-artifact@v4.4.0
        with:
          name: rust_fluid_3d-results-${{runner.os}}
          path: |
            ${{ github.workspace }}/results/*.csv
            ${{ github.workspace }}/targets/release/terra.exe

  # test:
  #     runs-on: ubuntu-latest
  #     name: test
  #     steps:
  #         - uses: actions/checkout@v4
  #         - run: cargo test
