# Workflow name
name: Lint & Test

# Trigger setting
on:
    push:
        branches: [dev, main]
    pull_request:
        branches: [main]
    workflow_dispatch:

jobs:
    build_cache:
        runs-on: ubuntu-latest
        env:
            # recompile optimizer
            RUSTC_FORCE_INCREMENTAL: 1
        steps:
            - uses: actions/checkout@v4
            - uses: swatinem/rust-cache@v2
            - name: build
              run: make build

    # format (deps: build_cache)
    fmt:
        runs-on: ubuntu-latest
        needs: build_cache
        steps:
            - uses: actions/checkout@v4
            - uses: swatinem/rust-cache@v2
            - name: fmt
              run: cargo fmt --all -- --check

    # lint (deps: build_cache)
    clippy:
        runs-on: ubuntu-latest
        env:
            RUSTC_FORCE_INCREMENTAL: 1
        needs: build_cache
        steps:
            - uses: actions/checkout@v4
            - uses: swatinem/rust-cache@v2
            - name: clippy
              run: cargo clippy --all-targets --all-features -- -D warnings

    run:
        runs-on: ubuntu-latest
        name: run
        steps:
            - uses: actions/checkout@v4
            - run: make
            - name: Upload a Build Artifact
              uses: actions/upload-artifact@v4.4.0
              with:
                name: rust_fluid_3d-results-${{runner.os}}
                path: |
                    ${{ github.workspace }}/results/*.csv

    # test:
    #     runs-on: ubuntu-latest
    #     name: test
    #     steps:
    #         - uses: actions/checkout@v4
    #         - run: cargo test

